

<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark" style="margin: auto;">
  <a class="navbar-brand" style="color: white;" href="#">MediBridge Hospitals</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link active"
          style="color: white;"
          routerLink="/create-appointment"
          >Add Appointment</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link active" style="color: white;" routerLink="/admin"
          >Back</a
        >
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <hr>
  <h2 class="text-center" style="margin-top: 20px;">Appointments</h2>
  <a style="color: rgb(86, 86, 86); font-size: x-large;">
    <marquee behavior="scroll" direction="left">
      Welcome to the Appointment Dashboard. Please find the patient list below! Click "Appointments" to view and update appointments, or "Add Appointment" to add a new appointment.
    </marquee>
  </a>
  <hr>
  <h3 style="color: rgb(86, 86, 86); font-size: xx-large;">View Current Appointments</h3>

  <div class="table-responsive">
    <!-- Filter by Doctor -->
    <div class="mb-3">
      <label for="doctorFilter" class="form-label">Filter by Doctor</label>
      <select id="doctorFilter" [(ngModel)]="selectedDoctor" (change)="getAppointmentsByDoctor()" class="form-control">
        <option value="">All Doctors</option>
        <option *ngFor="let doctor of doctors" [value]="doctor">{{ doctor }}</option>
      </select>
    </div>

    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Age</th>
          <th>Symptoms</th>
          <th>Appointment Date</th>
          <th>Assigned Doctor</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of filteredAppointments">
          <td>{{appointment.id}}</td>
          <td>{{appointment.name}}</td>
          <td>{{appointment.age}}</td>
          <td>{{appointment.symptoms}}</td>
          <td>{{appointment.appointmentDate | date:'shortDate'}}</td>
          <td>{{appointment.assignedDoctor}}</td>
          <td>
            <button (click)="delete(appointment.id)" class="btn btn-danger">Delete</button>
            <button (click)="editAppointment(appointment.id)" class="btn btn-primary">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>