.navbar {
    background-color: #343a40;
  }
  .navbar-brand {
    color: #ffffff !important;
    font-size: 1.5rem;
    font-weight: 600;
    transition: color 0.3s;
  }
  .navbar-brand:hover {
    color: #00c2ff !important;
  }
  .nav-link {
    color: #ffffff !important;
    font-size: 1.1rem;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #00c2ff !important;
  }